# Python Basics

In [1]:
print(2+2)
print((50-5*6)/4)
print((3*4)+2)

4
5.0
14

In [2]:
x=3
y=4
print(x*y)

12

In [3]:
print("Hello"+"Python")
str1 = "Hello"
str2 = "Python"
str3 = str1 + str2
print(str3)

HelloPython
HelloPython

In [4]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)

1
2
3
4
5

In [6]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)
    if x<3: # 3보다 작으면 계속 진행하고 아니면 멈춤
        continue
    else:
        break

1
2
3

In [7]:
for i in range(0,10,2): # 0부터 9까지 간격 2씩
    print(i)

0
2
4
6
8

In [8]:
for i in range(2,12,3): # 2부터 11까지 간격 3씩
    print(i)

2
5
8
11

In [9]:
for i in range(0,10):
    if i%2==0: # 짝수면 출력
        print(i)

0
2
4
6
8

In [10]:
for i in range(0,5):
    if i%3==0:   # 3의 배수면 출력
        print(i)
    elif i%3==1: # 나머지가 1이면 10 더한 수 출력
        print(i+10)
    else:        # 나머지가 2이면 10 뺀 수 출력
        print(i-10)

0
11
-8
3
14

In [11]:
condition = True
if condition: # True 니까 출력
    print("You can pass")
else:
    print("You cannot pass")

You can pass

In [12]:
def three():
    return 3

def print_hello():
    print("Hello world")

print(three())
print_hello()

3
Hello world

In [13]:
def my_abs(val):
    if val<0:  # 음수면 -1 곱한 수 (절댓값) 반환
        return 0-val
    return val # 양수면 그냥 반환

print(my_abs(-7))

7

In [14]:
def print_abs(val):
    if val<0:
        print(0-val)
    else:
        print(val)

x = print_abs(-2.7) # print_abs를 호출하면 그냥 절댓값이 함수안에서 출력됨
print(x) # 반환된 값이 없으니 None이 나옴

2.7
None

In [15]:
def swap(val1, val2):
    tmp = val1
    val1 = val2
    val2 = tmp

x = 6
y = 3
swap(6,3)  # 함수 내부 지역변수끼리만 바꿈, 전역변수인 x, y에는 아무런 변경 없음
print(x,", ",y)

6 ,  3

# String Functions

In [16]:
word = 'Hello'
print(word.lower())
print(word.upper())
print('12'*2)
print('1'*2+'2'*3)
print('1'+'2')
print('Hi'+' there.')

hello
HELLO
1212
11222
12
Hi there.

In [17]:
s = '     Extras  \n'
print(s.strip())                # 양옆 공백문자 제거
s = '***10***'                  
print(s.strip('*'))
s = 'Let\'s split the words'
print(s.split(' '))
s = 'Jane,Doe,Cars,5'
print(s.split(','))

Extras
10
["Let's", 'split', 'the', 'words']
['Jane', 'Doe', 'Cars', '5']

In [19]:
word = 'Hello'
print(word[1:3])
print(word[4:7])
print(word[-4:-1])
print('HE' in word) # He여서 False임
print('He' in word) # 그래서 얜 True
print(word.find('el')) # 있어서 1 반환

el
o
ell
False
True
1

In [27]:
word = '1234'
print(int(word))
print(float(word))
word = 'Hi'
try:
    print(int(word))
except ValueError as e:
    print(e) # 문자열은 정수형으로 바뀔 수 없음

1234
1234.0
invalid literal for int() with base 10: 'Hi'

In [22]:
statement = 'We love {} {}.'
print(statement.format('data', 'analysis'))
statement = 'We love {0} {1}.'
print(statement.format('data', 'analysis'))
statement = 'We love {1} {0}.'
print(statement.format('analysis', 'data'))

We love data analysis.
We love data analysis.
We love data analysis.

In [23]:
msg = 'My name is ABC'
if 'name' in msg:
    print('name is in the msg variable')
else:
    print('name is not in the msg variable')

name is in the msg variable

In [25]:
txt = ' A string with spaces on either side '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

<A string with spaces on either side >
< A string with spaces on either side>
<A string with spaces on either side>

In [29]:
list = [11, 22, 33]
print(list)
print(list[1])
try:
    print(list[3])
except IndexError as e:
    print(e) # 인덱스 범위가 넘어감, max 2

for i in list:
    print(i)
    
for i in range(0, len(list)):
    print(list[i])

[11, 22, 33]
22
list index out of range
11
22
33
11
22
33

In [30]:
list[1] = 95
print(list[1]) # 변경된 값이 나옴

95

In [31]:
list.append(44)
list

[11, 95, 33, 44]

In [33]:
list = [11,22,33,44]
print(list.pop(2))
print(list)

33
[11, 22, 44]

In [34]:
list = [11,22,33,44]
list.remove(33)
print(list)

[11, 22, 44]

In [35]:
list = [1,2,3]
list2 = [4,5,6]
list.extend(list2) # list2의 각 요소들을 list의 요소로 추가함
print(list)

list = [1,2,3]
list2 = [4,5,6]
list.append(list2) # list2 자체를 list의 요소로 추가함
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, [4, 5, 6]]

In [36]:
list = [1,2,3]
list2 = [4,5,6]

for x,y in zip(list, list2):
    print(x,", ",y)

1 ,  4
2 ,  5
3 ,  6

In [37]:
strdata = 'Time is money!!'
listdata = [1,2,[1,2,3]]
print(strdata[5])
print(strdata[-2])
print(listdata[0])
print(listdata[-1])
print(listdata[2][-1])
print(strdata[1:5])
print(strdata[:7])
print(strdata[9:])
print(strdata[:-3])
print(strdata[-3:])
print(strdata[:])
print(strdata[::-2])

i
!
1
[1, 2, 3]
3
ime
Time is
oney!!
Time is mone
y!!
Time is money!!
!ynms mT

# Tuple

In [38]:
tuple1 = ('Honda', 'Civic', 4, 2017)
print(tuple1)
print(tuple1[1])
print(len(tuple1))

('Honda', 'Civic', 4, 2017)
Civic
4

In [39]:
for i in tuple1:
    print(i)

Honda
Civic
4
2017

In [40]:
try:
    tuple1[3]=2018
except TypeError as e:
    print(e) # 튜플은 요소 변경 불가능

'tuple' object does not support item assignment

# Dictionary

In [41]:
dict = {('Ghostbusters', 2016):5.4,
        ('Ghostbusters', 1984):7.8}
dict[('Cars', 2006)] = 7.1
print(dict)
print(dict[('Ghostbusters', 2016)])
print(len(dict))

{('Ghostbusters', 2016): 5.4, ('Ghostbusters', 1984): 7.8, ('Cars', 2006): 7.1}
5.4
3

In [42]:
x = dict[('Cars', 2006)]
print(x)
x = dict.get(('Cars', 2006))
print(x)

7.1
7.1

In [43]:
dict.pop(('Ghostbusters', 2016))
print(dict)
del dict[('Cars', 2006)]
print(dict)

{('Ghostbusters', 1984): 7.8, ('Cars', 2006): 7.1}
{('Ghostbusters', 1984): 7.8}

In [46]:
dict = {('Ghostbusters', 2016):5.4,
        ('Ghostbusters', 1984):7.8,
        ('Cars', 2006):7.1}

for i in dict: # dict의 key값 출력
    print(i)

for i in dict: # key값의 인덱스의 값을 출력
    print(i[0], i[1])

for key,value in dict.items():
    print(key, ":", value)

('Ghostbusters', 2016)
('Ghostbusters', 1984)
('Cars', 2006)
Ghostbusters 2016
Ghostbusters 1984
Cars 2006
('Ghostbusters', 2016) : 5.4
('Ghostbusters', 1984) : 7.8
('Cars', 2006) : 7.1

# List and Dictionary Comprehension

In [47]:
list = [i**2 for i in range(1,11)]
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
list = [i for i in range(6)]
print(list)

[0, 1, 2, 3, 4, 5]

In [52]:
dict = {i:i**2 for i in range(1,11)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [53]:
dict = {i:chr(i) for i in range(65,91)}
print(dict)

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

# Sets

In [54]:
colors = set(['blue','green','red'])
print(colors)
colors.add('yellow')
print(colors)
colors.add('blue') # 이미 있어서 추가 안됨, set은 요소가 중복되지 않음
print(colors)

{'blue', 'green', 'red'}
{'blue', 'green', 'yellow', 'red'}
{'blue', 'green', 'yellow', 'red'}

In [55]:
colors = set(['blue','green','red'])
print(colors)
colors.discard('green') # green 제거
print(colors)

{'blue', 'green', 'red'}
{'blue', 'red'}

In [57]:
colors_1 = set(['blue','green','red'])
colors_2 = set(['blue', 'yellow'])
print(colors_1.union(colors_2)) # 합집합 출력
print(colors_1.intersection(colors_2)) # 교집합 출력
print(colors_1|colors_2) # 합집합 출력
print(colors_1&colors_2) # 교집합 출력

{'yellow', 'blue', 'green', 'red'}
{'blue'}
{'yellow', 'blue', 'green', 'red'}
{'blue'}