# Python Basics

In [1]:
print(2+2)
print((50-5*6)/4)
print((3*4)+2)

4
5.0
14

In [2]:
x=3
y=4
print(x*y)

12

In [3]:
print("Hello"+"Python")
str1 = "Hello"
str2 = "Python"
str3 = str1 + str2
print(str3)

HelloPython
HelloPython

In [4]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)

1
2
3
4
5

In [6]:
scope = [1,2,3,4,5]
for x in scope:
    print(x)
    if x<3: # 3보다 작으면 계속 진행하고 아니면 멈춤
        continue
    else:
        break

1
2
3

In [7]:
for i in range(0,10,2): # 0부터 9까지 간격 2씩
    print(i)

0
2
4
6
8

In [8]:
for i in range(2,12,3): # 2부터 11까지 간격 3씩
    print(i)

2
5
8
11

In [9]:
for i in range(0,10):
    if i%2==0: # 짝수면 출력
        print(i)

0
2
4
6
8

In [10]:
for i in range(0,5):
    if i%3==0:   # 3의 배수면 출력
        print(i)
    elif i%3==1: # 나머지가 1이면 10 더한 수 출력
        print(i+10)
    else:        # 나머지가 2이면 10 뺀 수 출력
        print(i-10)

0
11
-8
3
14

In [11]:
condition = True
if condition: # True 니까 출력
    print("You can pass")
else:
    print("You cannot pass")

You can pass

In [12]:
def three():
    return 3

def print_hello():
    print("Hello world")

print(three())
print_hello()

3
Hello world

In [13]:
def my_abs(val):
    if val<0:  # 음수면 -1 곱한 수 (절댓값) 반환
        return 0-val
    return val # 양수면 그냥 반환

print(my_abs(-7))

7

In [14]:
def print_abs(val):
    if val<0:
        print(0-val)
    else:
        print(val)

x = print_abs(-2.7) # print_abs를 호출하면 그냥 절댓값이 함수안에서 출력됨
print(x) # 반환된 값이 없으니 None이 나옴

2.7
None

In [15]:
def swap(val1, val2):
    tmp = val1
    val1 = val2
    val2 = tmp

x = 6
y = 3
swap(6,3)  # 함수 내부 지역변수끼리만 바꿈, 전역변수인 x, y에는 아무런 변경 없음
print(x,", ",y)

6 ,  3

In [17]:
word = 'Hello'
print(word.lower())
print(word.upper())
print('12'*2)
print('1'*2+'2'*3)
print('1'+'2')
print('Hi'+' there.')

hello
HELLO
1212
11222
12
Hi there.

In [ ]:
s = '     Extras  \n'
print(s.strip())                # 양옆 공백문자 제거
s = '***10***'                  
print(s.strip('*'))
s = 'Let\'s split the words'
print(s.split(' '))
s = 'Jane,Doe,Cars,5'
print(s.split(','))